/* === Boilerplate and imports === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Mobile First === */

body {
  background-color: #16161a;
  font-family: "Poppins", sans-serif;
  color: #94a1b2;
}

strong,
em {
  color: #fffffe;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

a {
  text-decoration: none;
  /* color: #8ab4f8; */
  color: #7f5af0;
}

nav {
  display: flex;
  font-size: 3.5vw;
  width: 100%;
  justify-content: space-evenly;
  /* margin-bottom: 5%;
  margin-top: 5%; */
}

.socials {
  font-size: 3.5vw;
  color: #fffffe;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #7f5af0;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.3s;
}

.socials:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transition: 0.3s;
}

.socials:active {
  box-shadow: 0 5px 15px rgba(44, 182, 125, 0.4);
  background-color: #2cb67d;
  transition: 0ms;
}

.card {
  height: 100vh;
  background-color: #72757e3f;
  border-radius: 25px;
  margin: 5%;
  /* padding: 6%; */
  /* display: flex;
  flex-direction: column; */
}

p {
  font-size: 3.5vw;
  padding-top: 3.0168154vw;
  /* margin: auto; */
}

main {
  /* height: 40%; */
  font-size: 0.8em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}

.container-image {
  display: flex;
  height: 25%;
  justify-content: center;
}

.pictureFrame {
  height: 20vw;
  align-self: center;
  /* filter: grayscale(100%); */
  clip-path: circle(50% at 50% 50%);
}

.attribution {
  font-size: 0.5em;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  p {
    font-size: 21px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  p {
    font-size: 14.668px;
  }

  nav,
  .socials {
    font-size: 23.733px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  p {
    font-size: 16px;
  }
  nav,
  .socials {
    font-size: 25.888px;
  }
  h1 {
    font-size: 41.88px;
  }

  .pictureFrame {
    height: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*...*/
}
